/* @import url(https://fonts.googleapis.com/css?family=Inconsolata); */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{background:#eee}
body{margin:0;font-family: "Fira Sans", sans-serif;font-weight:300;font-style:normal;font-size:1.2em;line-height:1.2em;letter-spacing;0.5em}
article,footer{display:block;width:600px}
article{margin:2.5em auto 0 auto;border:1px solid;border-color:#aaa #ddd;padding:2em;background:#fff}
h1{margin-top:0}
/*
article p:first-of-type{margin-top:1.6em;padding:2em}
article p:last-child{margin-bottom:0}
*/
footer{margin:0 auto 2em auto;text-align:center}
footer a{color:#666;text-shadow:0 1px 1px #fff;text-decoration:none;font-size:.8em;padding:1em}
footer a:focus,footer a:hover{color:#111}
h1{font-weight:400;display:inline;border-bottom:1px solid #000;padding:0 0 3px 0;line-height:36px}
a{color:#2844fa;text-decoration:none}
a:focus,a:hover{color:#1b29a4}
a:active{color:#000}
:-moz-any-link:focus{color:#000;border:0}
::-moz-selection{background:#ccc}
::selection{background:#ccc}
#gravatar{position:relative;float:right;margin-bottom:1em;margin-left:1em;border:1px solid #ddd}
@media all and (max-width:700px){article,footer{margin:0 auto;width: auto}body{font-size:1em}}
